body {
    font-family:$primary-font;
}

/*%secondary-header {
    font-size:20px;
}*/
.tagline{
    color: cornflowerblue;
}

.img-container img{
    width: 750px;
}

.carousel-indicators .active {
    background-color: blue;
}

.carousel-indicators li {
    background-color: red;
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

.tagline{
    font-weight: 700;
}

ul{
    list-style-image: url(../images/bullet.png);
}

ul{
    list-style-type: circle;
}


/*
.carousel-control-prev, .carousel-control-next {

    color: red;
}*/

