/*.related-article {
    background-color:white;
    width:50%;
    margin:0 auto;
    @include rounded-corners(5px);
    margin-top:50px;
    padding:20px;
    &__title {
        @extend %secondary-header;
        &--small {
            @include fontSize(12px);
        }
    }
}*/

.header{
    height: 70px;
    width: 100%;
    padding: 25px;
    &__title{
        font-family: 'Rubik-Medium', sans-serif;
        font-size: 48px;
        margin-left: 25px;

    }
    
}

.menu{
    &__nav{
        list-style-type: none;
        margin: 0;
        padding: 0;
        //vertical-align: top;
        display: inline-block;
                float: right;
    }
    &__items{
        display: inline-block;
        padding: 25px;
    }
}

.slide-container{
    align-items: center;
    width: 100%;
    padding: 100px 7% 100px 19%;
    &--first{
        align-items: center;
        width: 100%;
        padding: 100px 7% 100px 20%;
    }
    &--finaltitle{
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 100px 0 0px 0;
    }
    &--benefits{
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0px 0 100px 0;
    }
}

.article{
    max-width: 40%;
    &__title{
        font-family: 'Oxygen-Bold', sans-serif;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 20px;   
        &--nomargin{
            font-family: 'Oxygen-Bold', sans-serif;
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 0px;
        }
        &--smallbox{

            font-family: 'Oxygen-Bold', sans-serif;
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 0px;
            padding-right: 40px;
        }
        &--largebox{
            font-family: 'Oxygen-Bold', sans-serif;
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 0px;
            padding-right: 10px;
        }        
        &--finaltitle{
            font-family: 'Oxygen-Bold', sans-serif;
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 20px;             
            text-align: center;
        }
    }
    &__text{
        margin-bottom: 40px;
        &--smallbox{
            margin-top: 10px;
            margin-bottom: 20px; 
            padding-right: 50px;
        }
        &--largebox{
            margin-top: 10px;
            margin-bottom: 20px; 
            padding-right: 50px;            
        }
    }
}



.img-container{
    width: 70%;
    &--bigfooter img{
        width: 100%;
    }    
    &--bigbox img{
        width: 100%;
    }
}

.red-btn {
    color: #fff;
    font-family: 'Oxygen', sans-serif;
    display: inline-block;
    font-size: 16px; 
    font-weight: 900;
    padding: 7px 16px;
    border-radius: 5px;  
    background-color: #F15A24;
    -webkit-transition: background-color .5s, border-color .5s;
    transition: background-color .5s, border-color .5s;
}
    
.red-btn:hover, .red-btn:focus, .red-btn:active {
    text-decoration: none;
    color: #fff;
    background-color: #cc4d1f;
    border-color: #cc4d1f;
}

.blue-btn {
    color: #fff;
    font-family: 'Oxygen', sans-serif;
    display: inline-block;
    font-size: 16px; 
    font-weight: 900;
    padding: 7px 16px;
    border-radius: 5px;  
    background-color: #4CB2D4;
    -webkit-transition: background-color .5s, border-color .5s;
    transition: background-color .5s, border-color .5s;
}
    
.blue-btn:hover, .blue-btn:focus, .blue-btn:active {
    text-decoration: none;
    color: #fff;
    background-color: #4C99D4;
}



.benefit-article{
    max-width: 300px;
    min-width: 200px;
    padding: 25px;
    margin: 25px 0;
    &__text{
        
    }
}
/*
.article{
    display:inline-block;
}

.img-container{
    display:inline-block;
}*/